:javascript

  var imgWidth = #{@width};
  var imgHeight = #{@height};

  var displayWidth;
  var displayHeight;

  var top = 0;
  var left = 0;
  var width;
  var height;

  var ratio;

  var step = 10;

  $(document).ready( function() {
    init();
  });

  function init() {
    displayWidth = $(window).width();
    displayHeight = $(window).height();
    ratio = Math.min(displayWidth/imgWidth, displayHeight/imgHeight)*0.95;
    imgWidth = Math.round(imgWidth*ratio);
    imgHeight = Math.round(imgHeight*ratio);
    $("#crop").width(imgWidth);
    $("#crop").height(imgHeight);
    width = imgWidth;
    height = Math.round(9*width/16);
    move(0, Math.round((imgHeight-height)/2));
  }

  function adjust() {
    // TODO: check max size
    // 16/9 ratio
    height = Math.round(9*width/16);
    right = left + width;
    bottom = top + height;
    if (top < 0) {top = 0;};
    if (bottom > imgHeight) {bottom = imgHeight; top = imgHeight-height;};
    if (left < 0) {left = 0;};
    if (right > imgWidth) {right = imgWidth; left = imgWidth-width;};
    var r = "rect("+top+"px,"+right+"px,"+bottom+"px,"+left+"px)";
    $("#crop").css('clip',r);
  }

  function move(x,y) {
    top = top + y;
    left = left + x;
    adjust();
  }

  function resize(factor) {
    if (width+factor < imgWidth) {
      //keep center
      top = top-factor/2;
      left = left-factor/2;
      //resize
      width = width+factor;
      adjust();
    }
  }

  function crop() {
    w = Math.round(width/ratio);
    if (w > #{@width}) { w = #{@width}; };
    //$("#width").val(Math.round(width/ratio));
    $("#width").val(w);
    $("#height").val(Math.round(height/ratio));
    $("#x").val(Math.round(left/ratio));
    $("#y").val(Math.round(top/ratio));
    $("#form").submit();
  }


  $(document).keyup(function(e) {
    if (e.keyCode == 27) { window.location.href = "/index"; };
  });

  $(document).keypress(function(e) {
    
    switch(String.fromCharCode(e.which)) {

      case "h": move(-step,0); break;  
      case "l": move(step,0); break;  
      case "k": move(0,-step); break;  
      case "j": move(0,step); break;  

      case "-": resize(-step); break;  
      case "+": resize(step); break;  
      case "=": resize(step); break;  
      case "0": init(); break;  

      case ",": step = 1; break;  
      case ".": step = 10; break;  

      //case "q": window.location.href = "/index"; break;
      case "\r": crop(); break;
    };
  });

%img{:src => @image, :id => "crop"}

%form{:action => "/crop", :method => "POST", :display => "none", :id =>"form"}
  %input{:type => "hidden", :name => "image", :value => @image}
  %input{:type => "hidden", :name => "width", :id => "width"}
  %input{:type => "hidden", :name => "height", :id => "height"}
  %input{:type => "hidden", :name => "x", :id => "x"}
  %input{:type => "hidden", :name => "y", :id => "y"}
